.password-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.password-wrapper .eye {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  user-select: none;
}